<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
    <div>
        <h2>  All users that are connected to our sytem till now </h2><br><br>
        <hr size="3" width="70%" />
    </div>

{{ userqw }}<br>


        {% for every_user in all_user %}


                <a href="/home/{{ every_user }}"> <span>UserId :  {{ every_user.userId }}</span></a><br>


{##}
{#            <form action="{% url 'final_1.on' %}" method="post">#}
{#                {% csrf_token %}#}
{#                <input type="button" id="mybtn{{ every_user.userId }}" name="state">#}
{#                <label for="mybtn{{ every_user.userId }}">#}
{#                    {{ every_user.state }}#}
{#                    {% if state == True %}#}
{#                        {{ every_user.state}}={{False }}#}
{#                    {% endif %}#}
{##}
{#                </label><br>#}
{#            </form>#}
{##}

            <ul> <span>State :{{ every_user.state }}</span><br></ul>
            <ul>
{#                <script>#}
{#                    function myFunction() {#}
{#                        if (document.getElementById("myBtn").value=='False')#}
{#                            {document.getElementById("myBtn").value = "True";}#}
{#                        else#}
{#                        {document.getElementById("myBtn").value='False';}#}
{#                    }#}
{#                </script>#}

                <button id="myBtn" onclick="myFunction()" value="{{ every_user.state }}">{{ every_user.state }}</button>


            </ul>
            <ul> <span>Current :{{ every_user.current }}</span><br></ul>
            <ul> <span>Voltage :{{ every_user.voltage }}</span><br></ul>
        {% endfor %}



</body>
</html>